<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>______Target_C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CryptoEssentials</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Fluent</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_HMAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Hummingbird</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_MediaType</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_PathIndexable</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_PureJSON</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_PureJSONFoundation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_S4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SHA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Stencil</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Strand</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_String</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Vapor</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_VaporStencil</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_libc</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
